PORT=3000
JWT_SECRET=mysecret
API_PREFIX=/api

# MongoDB Atlas
STORAGE_MODE=mongodb
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@memorypic.ncblvxf.mongodb.net/?retryWrites=true&w=majority&appName=Memorypic
MONGODB_DB=memorypic
